<div class="jumbotron">
  <h1>Awesome app!</h1>
  <p class="lead">
    Revolutionize, disrupt and change the world in 12 hours.
  </p>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Add User</h4>
    <form>
      <div class="control-group">
        <label class="control-label">User Name</label>
        <div class="controls">
          <input type="text" ng-model="newUser.name">
        </div>
      </div>
      <input type="submit" ng-click="addUser()" class="btn btn-primary">
    </form>
  </div>
  <div class="span6">
    <h4>Users</h4>
    <ul>
      <li ng-repeat="user in users">
        <a href="" ng-click="showStory(user)">{{ user.name }}</a>
      </li>
    </ul>
    <div class="well" ng-show="showUser">
      <a href="" style="float:right;" ng-click="hideStory()">Close</a>
      <h3>The story about</h3>
      <input type="text" ng-model="showUser.name">
      <input type="textarea" ng-model="showUser.story">
      <div>
        <a href="" ng-click="removeUser(showUser)">
          Remove
        </a>
        <a href="" ng-click="updateUser(showUser)">
          Update
        </a>
      </div>
    </div>
  </div>
</div>
